Client/Connected Services/PreGameService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:element name="Join">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Leave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrivateSendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecieveMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsersUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="users" nillable="true" type="q1:Dictionary.ValueCollectionOfanyTypestringzwHo_PEFv" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectWaitingRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userGameConnect" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usergame" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendInvitation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usergameApplicant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usergameReceiver" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAcceptance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usergameApplicant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usergameReceiver" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecieveInvitation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usergameApplicant" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecieveAnswer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usergameConnected" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usergameAdmin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usergameToDisconnect" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usergameToNotify" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAccessGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usergam1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usergame2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUsersRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="usersPreGame" nillable="true" type="q2:Dictionary.ValueCollectionOfanyTypestringzwHo_PEFv" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecieveAccessGame">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecieveExitNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userDisconnected" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>