Client/Connected Services/RoomService/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserGame">
    <xs:sequence>
      <xs:element minOccurs="0" name="Friend" nillable="true" type="tns:ArrayOfFriend" />
      <xs:element minOccurs="0" name="FriendRequest" nillable="true" type="tns:ArrayOfFriendRequest" />
      <xs:element minOccurs="0" name="StatisticUser" nillable="true" type="tns:ArrayOfStatisticUser" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nametag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserGame" nillable="true" type="tns:UserGame" />
  <xs:complexType name="ArrayOfFriend">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Friend" nillable="true" type="tns:Friend" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriend" nillable="true" type="tns:ArrayOfFriend" />
  <xs:complexType name="Friend">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserGame" nillable="true" type="tns:UserGame" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idFriend" type="xs:int" />
      <xs:element minOccurs="0" name="idUser" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Friend" nillable="true" type="tns:Friend" />
  <xs:complexType name="ArrayOfFriendRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendRequest" nillable="true" type="tns:FriendRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendRequest" nillable="true" type="tns:ArrayOfFriendRequest" />
  <xs:complexType name="FriendRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserGame" nillable="true" type="tns:UserGame" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idApplicant" type="xs:int" />
      <xs:element minOccurs="0" name="idReceiver" type="xs:int" />
      <xs:element minOccurs="0" name="requestStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendRequest" nillable="true" type="tns:FriendRequest" />
  <xs:complexType name="ArrayOfStatisticUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StatisticUser" nillable="true" type="tns:StatisticUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatisticUser" nillable="true" type="tns:ArrayOfStatisticUser" />
  <xs:complexType name="StatisticUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserGame" nillable="true" type="tns:UserGame" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idUser" type="xs:int" />
      <xs:element minOccurs="0" name="nameTag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totalDefeat" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="totalGames" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="totalScore" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="totalWins" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatisticUser" nillable="true" type="tns:StatisticUser" />
</xs:schema>