Client/Connected Services/GameService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:import schemaLocation="http://localhost:8082/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Join">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Leave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrivateSendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecieveMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsersUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="users" nillable="true" type="q1:Dictionary.ValueCollectionOfanyTypestringzwHo_PEFv" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectWaitingRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userGameConnect" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usergame" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendInvitation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usergameApplicant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usergameReceiver" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAcceptance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usergameApplicant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usergameReceiver" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecieveInvitation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usergameApplicant" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecieveAnswer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usergameConnected" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usergameAdmin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usergameToDisconnect" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usergameToNotify" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAccessGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usergam1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usergame2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendExitNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usergameToDisconnect" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usergameToNotify" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendConfigurationGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userToSend" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="section" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="difficulty" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUsersRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="usersPreGame" nillable="true" type="q2:Dictionary.ValueCollectionOfanyTypestringzwHo_PEFv" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecieveAccessGame">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecieveExitNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userDisconnected" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveConfigurationGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="section" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="difficulty" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectToGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userConnected" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userOpponent" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectTheGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userDisconnect" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userOpponent" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendExitGameNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userDisconnect" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userToNotify" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendGameTurn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userReceiving" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendGameBoard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="messyCards" nillable="true" type="q3:ArrayOfint" />
        <xs:element minOccurs="0" name="userReceiving" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userSend" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="btn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userReceiving" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCleanBoard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userReceiving" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageInGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userSend" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userReceiving" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveExitNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userDisconnected" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveGameTurn">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveGameBoard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="messyCards" nillable="true" type="q4:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveMove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="btn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveCleanBoard">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecieveMessageInGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>