Client/Connected Services/GameService/MemoryServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MemoryServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IChatService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IRoomService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IPreGameService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IGameService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IChatService_Join_InputMessage">
    <wsdl:part name="parameters" element="tns:Join" />
  </wsdl:message>
  <wsdl:message name="IChatService_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IChatService_Leave_InputMessage">
    <wsdl:part name="parameters" element="tns:Leave" />
  </wsdl:message>
  <wsdl:message name="IChatService_PrivateSendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:PrivateSendMessage" />
  </wsdl:message>
  <wsdl:message name="IChatService_RecieveMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecieveMessage" />
  </wsdl:message>
  <wsdl:message name="IChatService_UsersUpdate_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UsersUpdate" />
  </wsdl:message>
  <wsdl:message name="IRoomService_ConnectWaitingRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectWaitingRoom" />
  </wsdl:message>
  <wsdl:message name="IRoomService_DisconnectRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectRoom" />
  </wsdl:message>
  <wsdl:message name="IRoomService_SendInvitation_InputMessage">
    <wsdl:part name="parameters" element="tns:SendInvitation" />
  </wsdl:message>
  <wsdl:message name="IRoomService_SendAcceptance_InputMessage">
    <wsdl:part name="parameters" element="tns:SendAcceptance" />
  </wsdl:message>
  <wsdl:message name="IRoomService_RecieveInvitation_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecieveInvitation" />
  </wsdl:message>
  <wsdl:message name="IRoomService_RecieveAnswer_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecieveAnswer" />
  </wsdl:message>
  <wsdl:message name="IPreGameService_ConnectPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectPlayer" />
  </wsdl:message>
  <wsdl:message name="IPreGameService_DisconnectPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectPlayer" />
  </wsdl:message>
  <wsdl:message name="IPreGameService_SendAccessGame_InputMessage">
    <wsdl:part name="parameters" element="tns:SendAccessGame" />
  </wsdl:message>
  <wsdl:message name="IPreGameService_SendExitNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:SendExitNotification" />
  </wsdl:message>
  <wsdl:message name="IPreGameService_SendConfigurationGame_InputMessage">
    <wsdl:part name="parameters" element="tns:SendConfigurationGame" />
  </wsdl:message>
  <wsdl:message name="IPreGameService_UpdateUsersRoom_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateUsersRoom" />
  </wsdl:message>
  <wsdl:message name="IPreGameService_RecieveAccessGame_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecieveAccessGame" />
  </wsdl:message>
  <wsdl:message name="IPreGameService_RecieveExitNotification_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecieveExitNotification" />
  </wsdl:message>
  <wsdl:message name="IPreGameService_ReceiveConfigurationGame_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveConfigurationGame" />
  </wsdl:message>
  <wsdl:message name="IGameService_ConnectToGame_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectToGame" />
  </wsdl:message>
  <wsdl:message name="IGameService_DisconnectTheGame_InputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectTheGame" />
  </wsdl:message>
  <wsdl:message name="IGameService_SendExitGameNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:SendExitGameNotification" />
  </wsdl:message>
  <wsdl:message name="IGameService_SendGameTurn_InputMessage">
    <wsdl:part name="parameters" element="tns:SendGameTurn" />
  </wsdl:message>
  <wsdl:message name="IGameService_SendGameBoard_InputMessage">
    <wsdl:part name="parameters" element="tns:SendGameBoard" />
  </wsdl:message>
  <wsdl:message name="IGameService_SendMove_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMove" />
  </wsdl:message>
  <wsdl:message name="IGameService_SendCleanBoard_InputMessage">
    <wsdl:part name="parameters" element="tns:SendCleanBoard" />
  </wsdl:message>
  <wsdl:message name="IGameService_SendMessageInGame_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageInGame" />
  </wsdl:message>
  <wsdl:message name="IGameService_ReceiveExitNotification_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveExitNotification" />
  </wsdl:message>
  <wsdl:message name="IGameService_ReceiveGameTurn_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveGameTurn" />
  </wsdl:message>
  <wsdl:message name="IGameService_ReceiveGameBoard_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveGameBoard" />
  </wsdl:message>
  <wsdl:message name="IGameService_ReceiveMove_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveMove" />
  </wsdl:message>
  <wsdl:message name="IGameService_ReceiveCleanBoard_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveCleanBoard" />
  </wsdl:message>
  <wsdl:message name="IGameService_RecieveMessageInGame_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecieveMessageInGame" />
  </wsdl:message>
  <wsdl:portType name="IChatService">
    <wsdl:operation name="Join">
      <wsdl:input wsaw:Action="http://tempuri.org/IChatService/Join" message="tns:IChatService_Join_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IChatService/SendMessage" message="tns:IChatService_SendMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Leave">
      <wsdl:input wsaw:Action="http://tempuri.org/IChatService/Leave" message="tns:IChatService_Leave_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrivateSendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IChatService/PrivateSendMessage" message="tns:IChatService_PrivateSendMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecieveMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IChatService/RecieveMessage" message="tns:IChatService_RecieveMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UsersUpdate">
      <wsdl:output wsaw:Action="http://tempuri.org/IChatService/UsersUpdate" message="tns:IChatService_UsersUpdate_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IRoomService">
    <wsdl:operation name="ConnectWaitingRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/ConnectWaitingRoom" message="tns:IRoomService_ConnectWaitingRoom_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisconnectRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/DisconnectRoom" message="tns:IRoomService_DisconnectRoom_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendInvitation">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/SendInvitation" message="tns:IRoomService_SendInvitation_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendAcceptance">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoomService/SendAcceptance" message="tns:IRoomService_SendAcceptance_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecieveInvitation">
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/RecieveInvitation" message="tns:IRoomService_RecieveInvitation_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecieveAnswer">
      <wsdl:output wsaw:Action="http://tempuri.org/IRoomService/RecieveAnswer" message="tns:IRoomService_RecieveAnswer_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IPreGameService">
    <wsdl:operation name="ConnectPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPreGameService/ConnectPlayer" message="tns:IPreGameService_ConnectPlayer_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisconnectPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IPreGameService/DisconnectPlayer" message="tns:IPreGameService_DisconnectPlayer_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendAccessGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IPreGameService/SendAccessGame" message="tns:IPreGameService_SendAccessGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendExitNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/IPreGameService/SendExitNotification" message="tns:IPreGameService_SendExitNotification_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendConfigurationGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IPreGameService/SendConfigurationGame" message="tns:IPreGameService_SendConfigurationGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUsersRoom">
      <wsdl:output wsaw:Action="http://tempuri.org/IPreGameService/UpdateUsersRoom" message="tns:IPreGameService_UpdateUsersRoom_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecieveAccessGame">
      <wsdl:output wsaw:Action="http://tempuri.org/IPreGameService/RecieveAccessGame" message="tns:IPreGameService_RecieveAccessGame_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecieveExitNotification">
      <wsdl:output wsaw:Action="http://tempuri.org/IPreGameService/RecieveExitNotification" message="tns:IPreGameService_RecieveExitNotification_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveConfigurationGame">
      <wsdl:output wsaw:Action="http://tempuri.org/IPreGameService/ReceiveConfigurationGame" message="tns:IPreGameService_ReceiveConfigurationGame_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IGameService">
    <wsdl:operation name="ConnectToGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/ConnectToGame" message="tns:IGameService_ConnectToGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisconnectTheGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/DisconnectTheGame" message="tns:IGameService_DisconnectTheGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendExitGameNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/SendExitGameNotification" message="tns:IGameService_SendExitGameNotification_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendGameTurn">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/SendGameTurn" message="tns:IGameService_SendGameTurn_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendGameBoard">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/SendGameBoard" message="tns:IGameService_SendGameBoard_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMove">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/SendMove" message="tns:IGameService_SendMove_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendCleanBoard">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/SendCleanBoard" message="tns:IGameService_SendCleanBoard_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageInGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/SendMessageInGame" message="tns:IGameService_SendMessageInGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveExitNotification">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/ReceiveExitNotification" message="tns:IGameService_ReceiveExitNotification_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveGameTurn">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/ReceiveGameTurn" message="tns:IGameService_ReceiveGameTurn_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveGameBoard">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/ReceiveGameBoard" message="tns:IGameService_ReceiveGameBoard_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveMove">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/ReceiveMove" message="tns:IGameService_ReceiveMove_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveCleanBoard">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/ReceiveCleanBoard" message="tns:IGameService_ReceiveCleanBoard_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecieveMessageInGame">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/RecieveMessageInGame" message="tns:IGameService_RecieveMessageInGame_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IChatService" type="tns:IChatService">
    <wsp:PolicyReference URI="#NetTcpBinding_IChatService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Join">
      <soap12:operation soapAction="http://tempuri.org/IChatService/Join" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IChatService/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Leave">
      <soap12:operation soapAction="http://tempuri.org/IChatService/Leave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="PrivateSendMessage">
      <soap12:operation soapAction="http://tempuri.org/IChatService/PrivateSendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RecieveMessage">
      <soap12:operation soapAction="http://tempuri.org/IChatService/RecieveMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsersUpdate">
      <soap12:operation soapAction="http://tempuri.org/IChatService/UsersUpdate" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IRoomService" type="tns:IRoomService">
    <wsp:PolicyReference URI="#NetTcpBinding_IRoomService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ConnectWaitingRoom">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/ConnectWaitingRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DisconnectRoom">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/DisconnectRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendInvitation">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/SendInvitation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendAcceptance">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/SendAcceptance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RecieveInvitation">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/RecieveInvitation" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecieveAnswer">
      <soap12:operation soapAction="http://tempuri.org/IRoomService/RecieveAnswer" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IPreGameService" type="tns:IPreGameService">
    <wsp:PolicyReference URI="#NetTcpBinding_IPreGameService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ConnectPlayer">
      <soap12:operation soapAction="http://tempuri.org/IPreGameService/ConnectPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DisconnectPlayer">
      <soap12:operation soapAction="http://tempuri.org/IPreGameService/DisconnectPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendAccessGame">
      <soap12:operation soapAction="http://tempuri.org/IPreGameService/SendAccessGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendExitNotification">
      <soap12:operation soapAction="http://tempuri.org/IPreGameService/SendExitNotification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendConfigurationGame">
      <soap12:operation soapAction="http://tempuri.org/IPreGameService/SendConfigurationGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdateUsersRoom">
      <soap12:operation soapAction="http://tempuri.org/IPreGameService/UpdateUsersRoom" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecieveAccessGame">
      <soap12:operation soapAction="http://tempuri.org/IPreGameService/RecieveAccessGame" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecieveExitNotification">
      <soap12:operation soapAction="http://tempuri.org/IPreGameService/RecieveExitNotification" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveConfigurationGame">
      <soap12:operation soapAction="http://tempuri.org/IPreGameService/ReceiveConfigurationGame" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IGameService" type="tns:IGameService">
    <wsp:PolicyReference URI="#NetTcpBinding_IGameService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ConnectToGame">
      <soap12:operation soapAction="http://tempuri.org/IGameService/ConnectToGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DisconnectTheGame">
      <soap12:operation soapAction="http://tempuri.org/IGameService/DisconnectTheGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendExitGameNotification">
      <soap12:operation soapAction="http://tempuri.org/IGameService/SendExitGameNotification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendGameTurn">
      <soap12:operation soapAction="http://tempuri.org/IGameService/SendGameTurn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendGameBoard">
      <soap12:operation soapAction="http://tempuri.org/IGameService/SendGameBoard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendMove">
      <soap12:operation soapAction="http://tempuri.org/IGameService/SendMove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendCleanBoard">
      <soap12:operation soapAction="http://tempuri.org/IGameService/SendCleanBoard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendMessageInGame">
      <soap12:operation soapAction="http://tempuri.org/IGameService/SendMessageInGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ReceiveExitNotification">
      <soap12:operation soapAction="http://tempuri.org/IGameService/ReceiveExitNotification" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveGameTurn">
      <soap12:operation soapAction="http://tempuri.org/IGameService/ReceiveGameTurn" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveGameBoard">
      <soap12:operation soapAction="http://tempuri.org/IGameService/ReceiveGameBoard" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveMove">
      <soap12:operation soapAction="http://tempuri.org/IGameService/ReceiveMove" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveCleanBoard">
      <soap12:operation soapAction="http://tempuri.org/IGameService/ReceiveCleanBoard" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecieveMessageInGame">
      <soap12:operation soapAction="http://tempuri.org/IGameService/RecieveMessageInGame" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MemoryServer">
    <wsdl:port name="NetTcpBinding_IChatService" binding="tns:NetTcpBinding_IChatService">
      <soap12:address location="net.tcp://localhost:8081/MemoryService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/MemoryService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-A5PQ7FAR\david</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IRoomService" binding="tns:NetTcpBinding_IRoomService">
      <soap12:address location="net.tcp://localhost:8081/MemoryService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/MemoryService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-A5PQ7FAR\david</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IPreGameService" binding="tns:NetTcpBinding_IPreGameService">
      <soap12:address location="net.tcp://localhost:8081/MemoryService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/MemoryService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-A5PQ7FAR\david</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IGameService" binding="tns:NetTcpBinding_IGameService">
      <soap12:address location="net.tcp://localhost:8081/MemoryService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/MemoryService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>LAPTOP-A5PQ7FAR\david</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>